In [17]:
import pandas as pd
data = pd.read_csv("data.csv")

In [18]:
data

,Crop,State,1990-91,1991-92,1992-93,1993-94,1994-95,1995-96,1996-97,1997-98,2005-06,2006-07,2007-08,2008-09
0,Paddy,Andhra Pradesh,216.13,-,-,-,341.74,363.6,405.82,436.72,540.96,557,638.56,789.9
1,Paddy,Bihar,221.36,-,-,-,-,-,377.16,-,497.44,519,435.48,584.82
2,Paddy,Haryana,212.89,241.09,300.49,-,413.38,-,424.68,477.12,618.45,609,676.86,1021.9
3,Paddy,Madhya Pradesh,230.54,328.93,295.41,-,331.09,327.45,389.44,444.77,689.92,695,783.31,745.22
4,Paddy,Punjab,194.69,206.77,224.38,266.87,290.36,330.81,344.81,356.4,487.28,477,505.92,669.86
5,Paddy,Uttar Pradesh,203.13,233.88,260.7,-,-,-,309.2,337.91,559.19,615,600.73,732.62
6,Jowar,Andhra Pradesh,250.27,-,359.53,-,428.31,489.24,537.35,754.06,746.64,898,1166.4,1102.37
7,Jowar,Madhya Pradesh,219.19,341.25,285.33,-,340.92,400.9,510.01,555.91,757.02,724,672.98,1123.22
8,Jowar,Karnataka,-,1306.42,-,-,-,-,-,-,770.26,706,956.4,1007.52
9,Bajra,Haryana,228.26,313.51,263.77,-,274.62,534.31,441.4,398.67,782.21,NaN,678.98,769.59
10,Bajra,Uttar Pradesh,-,-,-,-,-,-,364.82,287.74,592.66,NaN,537.84,731.21
11,Maize,Himachal Pradesh,-,-,-,-,-,-,491.19,467.94,736.27,561,669.95,796.56
12,Maize,Madhya Pradesh,206.83,308.43,235.24,-,353.75,321.77,571.14,470.54,743,1170,885.37,975.69
13,Ragi,Karnataka,-,-,-,-,-,-,-,-,759.13,803,1031.39,1005.02
14,Wheat,Haryana,155.44,168.41,217.52,246.72,263.3,292.26,336.13,391.85,577.41,589,673.46,716.55
15,Wheat,Himachal Pradesh,-,-,-,-,383.11,434.26,-,-,720.55,779,866.86,1217.08
16,Wheat,Madhya Pradesh,256.86,317.17,343.69,-,384.15,377.02,492.09,475.25,720.77,730,779.37,810.25
17,Wheat,Punjab,190.79,210.41,250.72,268.32,306.58,342.83,362.5,411.97,556.27,617,647.95,804.8
18,Wheat,Rajasthan,-,-,233.64,-,282.53,299.63,393.67,393.02,528.7,568,649.77,683.58
19,Wheat,Uttar Pradesh,220.23,-,-,-,-,328.02,362.56,-,654.22,636,651.14,769.84
20,Barley,Rajasthan,-,-,250.56,-,334.55,318.41,390.2,-,481.89,465,632.04,580.46
21,Gram,Haryana,436.8,487.8,663.83,-,664.73,663.9,865.72,739.88,NaN,1597,3479.7,1967.71
22,Gram,Madhya Pradesh,458.57,475.76,563.09,-,670.2,819.77,838.05,880.97,1401.57,1551,1613,1551.94
23,Gram,Rajasthan,-,-,450.06,-,513.18,628.04,806.4,728.23,1488.3,1248,1817.84,1691.66
24,Urad,Andhra Pradesh,560.69,-,590.36,-,1083.03,1029.48,1315.28,1370.08,1385.68,1426,1554.55,1914.9
25,Urad,Madhya Pradesh,641.09,926.04,694.62,-,904.59,1209.34,1064.73,1067.59,3106.44,2139,1939.92,1833.65
26,Moong,Maharashtra,-,-,-,-,-,NaN,1932.5,2739.83,2884.33,3159,2424.6,2261.24
27,Moong,Madhya Pradesh,-,-,-,-,-,-,-,-,-,-,-,-
28,Arhar,Madhya Pradesh,604.2,836.68,758.51,-,763.93,913.78,824.29,1221.31,1392.28,1588,1569.41,1873.83
29,Sunflower,Karnataka,-,692.7,-,-,-,-,1174.59,-,1748.5,1886,1597.93,2825.24
30,Sunflower,Maharashtra,578.74,-,706.28,834.08,-,1044.43,1108.04,2002.56,1396.69,1842,2033.2,2059.11
31,Groundnut,Andhra Pradesh,701.26,-,835.98,-,1248.93,1073.93,1244.85,1384.19,1989.42,2089,2063.36,2554.91
32,Groundnut,Gujarat,-,-,832.09,1090.49,788.74,1029.38,903.46,933.46,1285.82,1689,1566.36,1918.92
33,Groundnut,Karnataka,-,759,-,-,-,-,-,-,1714.45,2413,1673.23,3484.01
34,Rapeseed & Mustard,Haryana,363.94,463.61,595.43,-,648.31,673.11,720.85,1381.27,1245.58,1424,1396.05,1251.12
35,Rapeseed & Mustard,Punjab,633.79,670.84,743.47,81.35,826.27,923.21,1109.19,1335.48,NaN,NaN,NaN,NaN
36,Rapeseed & Mustard,Rajasthan,-,-,574.55,-,595.77,644.56,713.24,985.34,1009.7,1003,1332.63,1341.29
37,Safflower,Karnataka,-,-,-,-,-,-,-,-,-,-,-,-
38,Safflower,Maharashtra,-,-,496.39,-,589.91,585.86,-,1161.2,1605.91,1298,2169.62,1865.36
39,Soybean,Madhya Pradesh,408.43,592.74,571.42,590.75,663.5,693.31,827.24,743.08,994.97,1013,1159.79,1343.92
40,Cotton,Gujarat,-,-,901.07,1017.88,-,-,1375.54,1376.92,1594.55,1709,171667,2179.26
41,Cotton,Haryana,553.02,-,681.53,-,1026.32,1083.43,1439.12,2130.24,2166.09,1924,1875.8,2127.35
42,Cotton,Madhya Pradesh,-,-,-,-,-,1707.5,-,1620.76,1959.11,2302,2026.09,1708.32
43,Cotton,Karnataka,-,-,-,-,-,-,1460.96,-,2071.34,1867,1575.12,2233.26
44,Cotton,Maharashtra,-,-,-,-,1293.15,1586.3,1548.81,-,2137.15,2052,2010.5,2539.47
45,Cotton,Punjab,849.52,803.62,831.56,1107.38,1421.08,1643.83,1703.04,2845.02,1606.12,1630,1826.48,2003.76
46,Jute,Assam,367.53,336.88,357.95,448.83,512.88,636.15,755.37,571.42,980.82,988,1017.68,1286.42
47,Jute,Bihar,-,-,-,-,-,-,-,-,-,-,-,-
48,Jute,Orissa,293.56,318.76,406.14,-,-,619.77,646.82,576.34,1071.54,1252,1100.58,1481.71
49,Jute,West Bengal,-,361.37,372.74,415.15,468.61,690.35,689.61,579.93,1014.28,1152,1093.3,1231.95
50,Onion,Maharashtra,118.21,-,96.44,-,140.39,215.32,186.17,250.87,186.37,319,265.06,368.34
51,Sugercane,Andhra Pradesh,27.23,-,25.36,-,43.72,47.42,-,-,96.08,89,106.06,119.72
52,Sugercane,Bihar,20.31,18.33,-,-,-,-,-,-,-,-,-,-
53,Sugercane,Haryana,23.03,-,31.8,-,-,45.13,-,56.08,90.48,92,96.92,92.39
54,Sugercane,Karnataka,-,-,-,-,35.2,-,36.9,-,73.83,64,48.46,86.53
55,Sugercane,Maharashtra,21.12,-,27.37,-,35.69,37.02,38.31,43.59,94.91,80,76.29,107.56
56,Sugercane,Tamil Nadu,-,-,-,-,27.95,-,-,-,77.3,78,73.45,85.79
57,Sugercane,Uttar Pradesh,22.34,25.09,25.07,34,41.95,41.97,43.51,43.08,68.86,68,73.35,93.64

In [22]:
paddy = data.loc[data['Crop']=='Paddy']
jowar = data.loc[data['Crop']=='Jowar']
bajra = data.loc[data['Crop']=='Bajra']
maize = data.loc[data['Crop']=='Maize']
ragi = data.loc[data['Crop']=='Ragi']
wheat = data.loc[data['Crop']=='Wheat']
barley = data.loc[data['Crop']=='Barley']
gram = data.loc[data['Crop']=='Gram']
urad = data.loc[data['Crop']=='Urad']
moong = data.loc[data['Crop']=='Moong']
arhar = data.loc[data['Crop']=='Arhar']
sunflower = data.loc[data['Crop']=='Sunflower']
groundnut = data.loc[data['Crop']=='Groundnut']
rapeseed_mustard = data.loc[data['Crop']=='Rapeseed & Mustard']
safflower = data.loc[data['Crop']=='Safflower']
soyabean = data.loc[data['Crop']=='Soyabean']
cotton = data.loc[data['Crop']=='Cotton']
onion = data.loc[data['Crop']=='Onion']
sugarcane = data.loc[data['Crop']=='Sugercane']

In [23]:
sugarcane

,Crop,State,1990-91,1991-92,1992-93,1993-94,1994-95,1995-96,1996-97,1997-98,2005-06,2006-07,2007-08,2008-09
51,Sugercane,Andhra Pradesh,27.23,-,25.36,-,43.72,47.42,-,-,96.08,89,106.06,119.72
52,Sugercane,Bihar,20.31,18.33,-,-,-,-,-,-,-,-,-,-
53,Sugercane,Haryana,23.03,-,31.8,-,-,45.13,-,56.08,90.48,92,96.92,92.39
54,Sugercane,Karnataka,-,-,-,-,35.2,-,36.9,-,73.83,64,48.46,86.53
55,Sugercane,Maharashtra,21.12,-,27.37,-,35.69,37.02,38.31,43.59,94.91,80,76.29,107.56
56,Sugercane,Tamil Nadu,-,-,-,-,27.95,-,-,-,77.3,78,73.45,85.79
57,Sugercane,Uttar Pradesh,22.34,25.09,25.07,34,41.95,41.97,43.51,43.08,68.86,68,73.35,93.64